<article id="april" data-month="апрель" class="month">
	{% include 'headline.twig' with {month: 'апрель'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>11</span>
					<span>апреля</span>
				</time>
				<p>
					Лекция Михаила Ласкова «Онкология и ВИЧ»
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>18</span>
					<span>апреля</span>
				</time>
				<p>
					Конференция EECAAC'18.
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>20</span>
					<span>апреля</span>
				</time>
				<p>
					неофициальное закрытие EECAAC'18
				</p>
			</div>
		</div>
		<p>
			В апреле в Москве прошла крупнейшая конференция по ВИЧ и СПИДу в Восточной
			Европе и Центральной Азии ECAACC’18. Мы не только писали репортажи с нее, но
			и организовали вечеринку по случаю закрытия, на которой присутствовали гости
			конференции. Также в этом месяце у нас прошла лекция врача-онколога Михаила
			Ласкова, который является руководителем Клиники амбулаторной онкологии и
			гематологии в Москве.
		</p>
	</div>
	<div class="section">
		<div class="card-stack slider">
			{% include 'card.twig' with {
			img: 33,
			num: '1/2',
			tag: ['treatment', 'лечение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1887',
			title: '“Черная” пятница для ВИЧ-позитивного сообщества',
			description: 'В Госдуму внесён на рассмотрение законопроект, который предлагает отказаться
			от производимых в США и(или) других зарубежных странах лекарств, кроме тех,
			аналоги которых не производятся в России.'} %}

			{% include 'card.twig' with {
			img: 34,
			num: '2/2',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1890',
			title: '"Если умрет, то и так умрет"',
			description: 'Наш колумнист Игорь Брагин поделился своими мыслями о законопроекте и о
			людях, которые его создавали'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			В Госдуму внесён на рассмотрение законопроект, который предлагает отказаться
			от производимых в США и других зарубежных странах лекарств, кроме тех,
			аналоги которых не производятся в России. СПИД.ЦЕНТР разобрался в ситуации и
			объяснил, к каким печальным последствиям может привести такой шаг.
		</p>
	</div>
	<div class="section">
		<div class="card-stack slider">
			{% include 'card.twig' with {
			num: '1/2',
			tag: ['society', 'общество'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1894',
			title: 'Две стороны одной конференции',
			description: 'С 18 по 20 апреля в Москве проходила VI Международная конференция по ВИЧ/СПИДу в Восточной Европе и Центральной Азии. Я посетил ее, чтобы разобраться как обстоят дела в нашем регионе, и что еще должно быть сделано для достижения амбициозных целей Объединенной программы ООН по ВИЧ/СПИДу (ЮНЭЙДС). Так, к 2020 году 90% людей, живущих с ВИЧ, должны знать свой ВИЧ-статус, 90% людей, которые знают о своем позитивном статусе, должны иметь доступ к антиретровирусному лечению и у 90% людей, получающих лечение, должно наблюдаться подавление вируса в крови. Достижение этой цели позволит миру стать на путь избавления от эпидемии СПИДа к 2030 году.'} %}

			{% include 'card.twig' with {
			num: '2/2',
			tag: ['fund', 'дела фонда'],
			tag: ['fund', 'дела&nbsp;фонда'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1893',
			title: "Неофициальное закрытие конференции EECAAC'18",
			description: "20 апреля в открытом пространстве Фонда ''СПИД.ЦЕНТР'' состоялось неофициальное закрытие EECAAC'18. Мы пригласили гостей конференции обсудить ее итоги и поговорить о планах на будущее в неформальной обстановке."} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Печальная статистика месяца: половина ВИЧ-положительных России осталась без
			лечения, а пятая часть россиян не знает свой ВИЧ-статус.
		</p>
	</div>
	<div class="section">
		<div class="slider slider--x3">
			{% include 'card.twig' with {
			num: '1/5',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2543',
			title: '20% россиян не знают свой ВИЧ-статус',
			date: '4 апреля 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '2/5',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2567',
			title: 'Почти половина ВИЧ-положительных людей в России остались без лечения в 2017 году',
			date: '11 апреля 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '3/5',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2581',
			title: 'Делегаты из 80 стран съедутся в Москву на конференцию по ВИЧ/СПИДу',
			date: '16 апреля 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '4/5',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2588',
			title: 'Голодец заявила о «прорыве» в лечении ВИЧ-инфекции в России, но с этим не все согласны',
			date: '18 апреля 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '5/5',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2592',
			title: '«Деньги закончились — эпидемия осталась». На конференции по ВИЧ/СПИДу провели костюмированный флешмоб',
			date: '19 апреля 2018',
			mods: 'card--small'} %}
		</div>
	</div>
</article>