<article id="august" data-month="август" class="month">
	{% include 'headline.twig' with {month: 'август'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>8</span>
					<span>августа</span>
				</time>
				<p>
					Лекция политолога Дмитрия Толкачева «Почему страны легализуют гей-браки?»
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>15</span>
					<span>Августа</span>
				</time>
				<p>
					Лекция Павла Лобкова «Уроки голландского пионерлагеря AIDS 2018»
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>22</span>
					<span>Августа</span>
				</time>
				<p>
					Лекция Мехти Ализаде «Как говорить о ВИЧ с подростками»
				</p>
			</div>
		</div>
		<p>
			В августе мы обсудили итоги конференции AIDS2018 вместе с членом нашего попечительского совета журналистом Павлом Лобковым, а также поговорили о причинах легализации гей-браков вместе с политологом Дмитрием Толкачевым и о том, как следует обсуждать ВИЧ с подростками вместе с тренером-консультантом Мехти Ализаде. 
		</p>
	</div>
	<div class="section">
		<div class="slider card--stack card-stack--wide">
			{% include 'card.twig' with {
			img: 51,
			num: '1/10',
			type: 'материал', 
			tag: ['epidemy', 'эпидемия'],
			title: 'В погоне за клетками: Скрытая эпидемия на юго-востоке Татарстана',
			description: '31 июля на сайте change.org появилась петиция «Спасите юго-восток Татарстана от
			гибели!», в ней жители Альметьевска, Бугульмы и Лениногорска рассказывали о
			критической ситуацией с эпидемией в этих городах.',
			link: 'https://spid.center/ru/articles/2038'} %}
			{% include 'card.twig' with {
			img: 52,
			num: '2/10',
			type: 'материал', 
			tag: ['view', 'мнение'],
			title: '“Дискриминация — непрофессиональна”: Как работают психологи с темой ВИЧ',
			description: 'Как должен работать психолог с ВИЧ-положительными клиентами, на что стоит
			обращать внимание, а также о профессиональной этике, — в интервью
			СПИД.ЦЕНТРа с психологом Валерией Федоряк.
			',
			link: 'https://spid.center/ru/articles/2036'} %}
			{% include 'card.twig' with {
			img: 53,
			num: '3/10',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: '“Плюсики”, таблетки и зубные щетки: Как я стала приемной мамой ребенка с ВИЧ',
			description: 'Пока власти то ужесточают правила усыновления детей ВИЧ-положительными
			родителями, то, напротив, дают послабления, СПИД.ЦЕНТР рассказывает историю
			усыновления ребенка, с рождения живущего с ВИЧ.',
			link: 'https://spid.center/ru/articles/2035'} %}
			{% include 'card.twig' with {
			img: 54,
			num: '4/10',
			type: 'материал', 
			tag: ['treatment', 'лечение'],
			title: '«Со мной раньше никто так не разговаривал, как вы»',
			description: 'В июне 2018 года в Санкт-Петербурге и Ленинградской области стартовал проект
			ассоциации «Е.В.А.» «Равная поддержка». Его героинями стали ВИЧположительные
			беременные и женщины с детьми до 3 лет.',
			link: 'https://spid.center/ru/articles/2026'} %}
			{% include 'card.twig' with {
			img: 55,
			num: '5/10',
			type: 'материал', 
			tag: ['prevention', 'профилактика'],
			title: '«Я не могу догонять и причинять здоровье»',
			description: 'Рассказ об аутрич-сотрудниках, работающих в Заполярье с «Вектором» -
			единственной НКО на всю Мурманскую область, занимающейся профилактикой
			ВИЧ среди МСМ-сообщества, секс-работниц и потребителей инъекционных
			наркотиков. ',
			link: 'https://spid.center/ru/articles/2013'} %}
			{% include 'card.twig' with {
			img: 56,
			num: '6/10',
			type: 'материал', 
			tag: ['treatment', 'лечение'],
			title: '«Невидимые дети». Помощь детям наркопотребителей Казани',
			description: 'Низкопороговый центр для потребителей инъекционных наркотиков «Остров» с
			2009 года помогает совершеннолетним наркопотребителям, секс-работникам и
			ВИЧ-инфицированным.',
			link: 'https://spid.center/ru/articles/2021'} %}
			{% include 'card.twig' with {
			img: 57,
			num: '7/10',
			type: 'материал', 
			tag: ['prevention', 'профилактика'],
			title: '«Встать, суд идет!»: Помощь наркопотребителям Санкт-Петербурга',
			description: 'Организация «Гуманитарное действие» занимается помощью людям,
			употребляющим наркотики. ',
			link: 'https://spid.center/ru/articles/2032'} %}
			{% include 'card.twig' with {
			img: 58,
			num: '8/10',
			type: 'материал', 
			tag: ['prevention', 'профилактика'],
			title: '«Полярная Роза». Помощь секс-работницам Мурманска',
			description: 'Общественная организация «Вектор» состоит меньше чем из десяти человек,
			включая волонтеров, но едва ли не в одиночку борется с распространением ВИЧ в
			Мурманской области.',
			link: 'https://spid.center/ru/articles/2008'} %}
			{% include 'card.twig' with {
			img: 59,
			num: '9/10',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: '«Лицом к лицу с пациентом». Поддержка школы для молодых врачей в Москве.',
			description: 'Недостаточную осведомленность о ВИЧ-инфекции среди медработников можно
			исправить с помощью дополнительного обучения. Школа для будущих врачей
			направлена именно на это.',
			link: 'https://spid.center/ru/articles/2005'} %}
			{% include 'card.twig' with {
			img: 60,
			num: '10/10',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: '«Когда секс – это работа»',
			description: 'Уже много лет в Петербурге работает проект «Серебряная Роза», чьи активисты
			одни из тех немногих в стране, кто занимается профилактикой ВИЧ-инфекции
			среди секс-работников. ',
			link: 'https://spid.center/ru/articles/1993'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Август стал для нас месяцем историй: мы рассказали вам 10 разных историй людей, живущих с ВИЧ, их близких и наших коллег, которые им помогают.
		</p>
	</div>
	<div class="section">
		<div class="card-stack slider card-stack--wide">
			{% include 'card.twig' with {
			img: 62,
			num: '1/2',
			type: 'материал', 
			tag: ['prevention', 'профилактика'],
			title: 'МИД — против, наука — за',
			description: '6 августа МИД РФ выступил против заместительной терапии и засомневался в
			“экспертных рекомендациях” с AIDS2018. Раз МИД решил разобраться в том,
			помогает ли заместительная терапия наркопотребителям, мы объясним все на
			живом примере',
			link: 'https://spid.center/ru/articles/2009'} %}
			{% include 'card.twig' with {
			img: 63,
			num: '2/2',
			type: 'материал', 
			tag: ['epidemy', 'эпидемия'],
			title: 'Статистика против Минздрава',
			description: '6 августа Минздрав отчитался об увеличении охвата лечением ВИЧ-положительных
			пациентов с 39% до 50%. Что не так с этими цифрами и какова на самом деле
			ситуация с ВИЧ в России?',
			link: 'https://spid.center/ru/articles/2016'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Также в августе отличились наши министерства. В топ три попали: выступления МИДа против заместительной терапии, очередные сомнительные данные по обеспечению лечением в стране от Минздрава и Министерство просвещения, которое сначала высказалось против усыновления ВИЧ-положительными людьми, а потом вдруг решило изменить свою позицию.
		</p>
	</div>
	<div class="section">
		<div class="slider slider--x3">
			{% include 'card.twig' with {
			num: '1/3',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2818',
			title: 'МИД выступил против борьбы с наркоманией заместительными методами',
			date: '6 августа 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '2/3',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2851',
			title: 'Министр просвещения Ольга Васильева выступила против идеи разрешить усыновление детей людям с ВИЧ',
			date: '16 августа 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '3/3',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2865',
			title: 'Министерство просвещения изменило позицию по ВИЧ-положительным усыновителям',
			date: '21 августа 2018',
			mods: 'card--small'} %}
		</div>
	</div>
</article>