<article class="month clear_page">
	<div class="content">
		<img src="img/author.jpg" class="author__image" alt="">
		<div class="author--name">Антон Красовский</div>
		<div class="author--position">директор фонда «СПИД.центр»</div>
		<p>
			Я часто думаю что такое фонд «СПИД.ЦЕНТР», и всякий раз, в зависимости от обстоятельств, мне в голову приходят совершенно разные вещи. То он представляется мне собранием каких-то легкомысленных людей, решивших посвятить свою жизнь битве с безнадежностью. Но где эти люди? Где?
		</p>

		<p>
			В другой момент — это финансовый институт, собирающий сотни миллионов и непременно долларов на чудодейственную вакцину или хотя бы на новую больницу. Но где эти миллионы? Где?
		</p>

		<p>
			А иногда — это и не фонд никакой, не люди, а просто философская концепция, уверовав в которую мужчинам и женщинам, детям и старикам с этим вирусом станет жить чуть полегче. Это мир свободы, равенства, любви, доверия. Мир бесстрашия. В общем, там — в этом мире, — сплошные тайная вечеря и обнимашки. Но где это все?
		</p>
	</div>
</article>