<article id="february" data-month="февраль" class="month">
	{% include 'headline.twig' with {month: 'февраль'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>4</span>
					<span>февраля</span>
				</time>
				<p>
					Опрос «Что вы знаете о PrEP?»  
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>11</span>
					<span>февраля</span>
				</time>
				<p>
					Мастер-класс по квир-танго
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>24</span>
					<span>февраля</span>
				</time>
				<p>
					Лекция Марианны Мирзоян «Как читать медицинские СМИ и не
					облажаться»
				</p>
			</div>
		</div>
		<p>
			Февраль стал для нас месяцем PrEP. В нашем опросе о доконтактной профилактике
			приняло участие почти 2 тысячи человек, и их ответы оказались весьма
			интересными. Также мы провели мастеркласс по квир-танго и рассказали о том,
			как читать медицинские СМИ с пользой для себя и своего здоровья.
		</p>
		<div class="line"></div>
	</div>
	<div class="section">
		<div class="card-stack slider card-stack--wide">
			{% include 'card.twig' with {
			img: 27,
			mods: 'card--medium card--outline',
			num: '1/2',
			type: 'материал', 
			tag: ['prevention', 'профилактика'],
			title: 'Что вы знаете о PrEP?',
			description: 'СПИД.ЦЕНТР запускает опрос посвященный использованию доконтактной профилактики ВИЧ в России.',
			link: 'https://spid.center/ru/articles/1782'} %}

			{% include 'card.twig' with {
			img: 28,
			mods: 'card--medium card--outline',
			num: '2/2',
			type: 'материал', 
			tag: ['prevention', 'профилактика'],
			title: 'Опрос "СПИД.ЦЕНТРа" о ДКП прошли более 1000 человек за три дня',
			description: 'Мы решили выяснить, что наши читатели знают о таблетках, которые способны защитить от ВИЧ-инфекции не хуже презервативов. Теперь мы можем представить промежуточные результаты опроса.',
			link: 'https://spid.center/ru/articles/1794'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Еще в этом месяце мы не могли не порадоваться за жителей Беларуси, где ВИЧположительным
			наконец разрешили усыновление.
		</p>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
			{% include 'card.twig' with {
			type: 'новость',
			tag: ['fund', 'дела фонда'],
			tag: ['fund', 'дела&nbsp;фонда'],
			title: 'ВИЧ-положительным жителям Беларуси разрешили усыновлять детей',
			date: '5 февраля 2018',
			mods: 'card--large card--outline'} %}
		</div>
	</div>
	<div class="section">
		<div class="slider card-stack">
			{% include 'card.twig' with {
			num: '1/2',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2343',
			title: 'Доконтактная профилактика ВИЧ станет в десятки раз дешевле',
			date: '9 ФЕВРАЛЯ 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '2/2',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2351',
			title: 'ВОЗ опубликовала новые данные по доконтактной профилактике ВИЧ',
			date: '12 февраля 2018',
			mods: 'card--small'} %}
		</div>
	</div>
</article>