<article id="july" data-month="июль" class="month">
	{% include 'headline.twig' with {month: 'июль'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>6</span>
					<span>июля</span>
				</time>
				<p>
					<a href="https:// www.facebook.com/pg/spid.center/photos/? tab=album&album_id=2082790908609062">Второй день рождения</a> Фонда СПИД.ЦЕНТР
					<span class="m-icon ph"></span>
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>6</span>
					<span>июля</span>
				</time>
				<p>
					Запуск платформы «Никто Не Лишний»
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>23</span>
					<span>июля</span>
				</time>
				<p>
					Конференция AIDS2018
				</p>
			</div>
		</div>
		<p>
			В июле наш фонд празднует свое двухлетие, и в честь этого мы запускаем новое направление - краундфандинговую платформу для сбора денег ВИЧ-сервисным организациям Росиии, «Никто Не Лишний». Также в этом месяце проходит крупнейшая в мире конференция по вопросам ВИЧ/СПИДа, AIDS2018, и наша делегация отправляется туда, чтобы сообщить вам обо всех главных новостях и событиях.
		</p>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
			{% include 'card.twig' with {
			img: 48,
			type: 'новость',
			tag: ['epidemy', 'эпидемия'],
			link: 'https://spid.center/ru/posts/2772',
			title: 'Федеральный центр СПИД: Около 150 тысяч человек в Москве могут иметь ВИЧ-позитивный статус',
			description: 'По мнению Вадима Покровского, с ВИЧ-инфекцией в Москве может проживать
			около 150 тысяч человек и всем им должен быть открыт доступ к лечению вне
			зависимости от места их постоянной регистрации.',
			date: '22 июля 2018',
			mods: 'card--large card--outline'
		} %}
	</div>
	<div class="line"></div>
	<p>
		В июле появились новые цифры по заболеваемости в Москве, которые вызвали бурную реакцию в обществе. Мы обсудили, откуда они взялись и что с ними делать. Также в этом месяце вышел доклад ЮНЭЙДС подводящий промежуточные итоге борьбы с эпидемий, а мы подробно разобрали и пояснили его для вас.
	</p>
</div>
<div class="section">
	<div class="slider card-stack">
		{% include 'card.twig' with {
		img: 49,
		num: '1/2',
		tag: ['view', 'мнение'],
		type: 'материал',
		link: 'https://spid.center/ru/articles/1990',
		title: 'Скрепа ВИЧ в России: когда профилактика хуже, чем в Африке',
		description: 'ВИЧ-положительных людей в 2017-м в Москве стало больше на 20% по сравнению
		с предыдущим годом. Об этом свидетельствует статистика, опубликованная в
		пятницу, 13 июля, Минздравом РФ.'} %} 
		{% include 'card.twig' with {
		img: 50,
		num: '2/2',
		tag: ['epidemy', 'эпидемия'],
		type: 'материал',
		link: 'https://spid.center/ru/articles/1995',
		title: '"Путь, который нужно пройти"',
		description: 'Состоялась презентация нового доклада ЮНЭЙДС. По их мнению несмотря на
		значительные успехи в борьбе с эпидемией, достигнутый прогресс не
		соответствует глобальным амбициям. '} %} 
	</div>
</div>
<div class="content">
	<div class="line"></div>
	<p>
		В конце июня в Амстердаме прошла крупнейшая в мире конференция по ВИЧ/ СПИДу, AIDS2018. Мы собрали все самые важные новости с нее на нашем сайте.
	</p>
</div>
<div class="section">
	<div class="slider slider--x3">
		{% include 'card.twig' with {
		num: '1/7',
		tag: ['news', 'новости'],
		type: 'новость',
		link: 'https://spid.center/ru/posts/2775',
		title: '«Преследуй вирус, не людей!» В Амстердаме запустят кампанию по борьбе со стигмой и дискриминацией',
		date: '23 июля 2018',
		mods: 'card--small'} %}
		{% include 'card.twig' with {
		num: '2/7',
		tag: ['news', 'новости'],
		type: 'новость',
		link: 'https://spid.center/ru/posts/2777',
		title: '"Всё внимание на людей". Глобальные лидеры открыли AIDS 2018',
		date: '24 июля 2018',
		mods: 'card--small'} %}
		{% include 'card.twig' with {
		num: '3/7',
		tag: ['news', 'новости'],
		type: 'новость',
		link: 'https://spid.center/ru/posts/2780',
		title: 'На AIDS-2018 представили новые данные об эффективности двойного режима долутегравир/ламивудин',
		date: '24 июля 2018',
		mods: 'card--small'} %}
		{% include 'card.twig' with {
		num: '4/7',
		tag: ['news', 'новости'],
		type: 'новость',
		link: 'https://spid.center/ru/posts/2781',
		title: 'Участники AIDS 2018 заявили о нехватке средств на борьбу с эпидемией',
		date: '25 июля 2018',
		mods: 'card--small'} %}
		{% include 'card.twig' with {
		num: '5/7',
		tag: ['news', 'новости'],
		type: 'новость',
		link: 'https://spid.center/ru/posts/2782',
		title: 'В рамках AIDS 2018 состоялся министерский диалог по ситуации с ВИЧ/СПИД в регионе ВЕЦА',
		date: '25 июля 2018',
		mods: 'card--small'} %}
		{% include 'card.twig' with {
		num: '6/7',
		tag: ['news', 'новости'],
		type: 'новость',
		link: 'https://spid.center/ru/posts/2784',
		title: 'ВОЗ рекомендует прием долутегравира женщинам при наличии доступа к надежной контрацепции',
		date: '26 июля 2018',
		mods: 'card--small'} %}
		{% include 'card.twig' with {
		num: '7/7',
		tag: ['news', 'новости'],
		type: 'новость',
		link: 'https://spid.center/ru/posts/2786',
		title: 'Режим приема ДКП «по требованию» также эффективен, как и ежедневный прием',
		date: '26 июля 2018',
		mods: 'card--small'} %}
	</div>
</div>
</article>