<article data-month="ноябрь" class="month">
  {% include 'headline.twig' with {month: 'нобярь'} %}

  <footer class="footer">
    <p>
      НАШ САЙТ В ЕЖЕДНЕВНОМ РЕЖИМЕ ПОПОЛНЯЕТСЯ ВАЖНЫМИ НОВОСТЯМИ,
      ЗА МЕСЯЦ НА САЙТЕ ВЫХОДИТ 65 СТАТЕЙ И 76 НОВОСТЕЙ
    </p>
  </footer>
</article>
