<article id="{{id}}" data-month="{{month}}" class="month">
  {% include 'headline.twig' with {month: month} %}

  <div class="content">
    <span class="line"></span>
    <p>
      В сентябре в фонде прошла интерактивная лекция профессора Леонида Марголиса
      «ВИЧ и СПИД глазами ученого», которая показала нам научный взгляд на решение
      <a href="#link">проблемы эпидемии ВИЧ-инфекции</a>. Также в этом месяце в нашем Открытом пространстве
      запустились два новых формата: Школа фасилити- рования для ВИЧ-позитивных людей,
      в рамках которой мы обучали людей мастерству ведения группы поддержки,
      и Йога по воскресениям.
    </p>

    {% include 'shedule.twig' %}

    {% include 'picture.twig' %}

    <span class="line"></span>
    <p>
      Одной из знаковых тем сентября стало пополнение списка жизненно необходимых
      и важнейших лекарственных препаратов, которое, однако, согласно мнению нашего
      Директора, Антона Красовского, все равно пока отстает от мировых тенденций.
    </p>
  </div>

  <div class="section">
    <div class="card-stack slider card-stack--wide">
      {% include 'card.twig' with {
        num: '1/3',
        type: 'материал', 
        tag: ['treatment', 'лечение'],
        title: 'Пациенты просят Минздрав обновить список ЖНВЛП',
        description: '4 сентября пройдет заседание комиссии по ЖНВЛП (Жизненно необходимые и важнейшие лекарственные препараты), где будет рассмотрен вопрос о включении в перечень современных препаратов для лечения ВИЧ-инфекции и хронического гепатита С.'
      } %}

      {% include 'card.twig' with {
        num: '2/3',
        type: 'материал',
        tag: ['view', 'мнение'],
        title: 'Красовский: Список жизненно важных лекарств по ВИЧ в РФ меняется, но отстает от мировых тенденций',
        description: 'Внесение последних изменений в российский список ЖНВЛП по ВИЧ можно приветствовать, но спектр этих препаратов следует расширять, считает директор фонда «СПИД. ЦЕНТР»'
      } %}

      {% include 'card.twig' with {
        num: '3/3',
        type: 'материал',
        tag: ['fund', 'дела&nbsp;фонда'],
        title: 'Одна таблетка — это важно',
        description: 'ВИЧ-активист и журналист Борис Конаков рассуждает о том, почему людям с ВИЧ важно принимать качественные и современные препараты.'
      } %}
    </div>
  </div>

  <div class="content">
    <span class="line"></span>
    <p>
      Еще одной острой темой стало обсуждение права ВИЧ-положительных мигрантов и
      просто туристов находиться на территории РФ. И, как это обычно бывает, где-то
      удалось добиться улучшений, а где-то совсем наоборот.
    </p>
  </div>

  <div class="section">
    <div class="card-stack slider">
      {% include 'card.twig' with {
        num: '1/2',
        type: 'материал',
        tag: ['society', 'общество'],
        title: 'Депздрав Москвы заявил о необходимости депортировать из России трудовых мигрантов с ВИЧ',
        description: 'Глава департамента здравоохранения Москвы Алексей Хрипун заявил о том, что необходимо совершенствовать механизм депортации трудовых мигрантов, живущих с ВИЧ. СПИД.ЦЕНТР напоминает, почему выдворение ВИЧ-позитивных мигрантов из страны – не самый эффективный способ борьбы с эпидемией.'
      } %}

      {% include 'card.twig' with {
        num: '2/2',
        type: 'материал',
        tag: ['news', 'новости'],
        title: 'ВИЧ-положительных делают въездными',
        description: 'Роспотребнадзор разработал поправки к постановлению правительства РФ. Ранее ВИЧ-положительным иностранцам был закрыт въезд в страну, однако позже тем, кто имеет в России близких родственников, его разрешили. Теперь чиновники предлагают открыть въезд иностранцам с ВИЧ, имеющим близких родственников в РФ, на три месяца с условием, что у них есть документы о лечении за границей.'
      } %}
    </div>
  </div>
  
  <div class="content">
    <span class="line"></span>
    <p>
      Также в сентябре была опубликована новая справка Федерального
      научно-методическим центра по профилактике и борьбе со СПИДом,
      согласно которой к этому моменту в России было зарегистрировано
      уже 1,16 млн диагнозов «ВИЧ- инфекция», а от СПИДа ежедневно
      умирали 80 россиян.
    </p>

    <div class="card-stack card-stack--mobile-wide card-stack--center">
      {% include 'card.twig' with {
        date: '12 сентября 2017',
        type: 'материал',
        mods: 'card--large card--outline',
        tag: ['epidemy', 'эпидемия'],
        title: 'ВИЧ в России в числах',
        description: 'Согласно новым данным, всего в России зарегистрировано 1,16 млн диагнозов "ВИЧ-инфекция". За полгода поставили 52 тысячи новых диагнозов, от СПИДа ежедневно умирают 80 россиян, лечение получают только треть из выявленных пациентов, а эпидемия увеличивается в основном за счёт незащищённых гетеросексуальных контактов.'
      } %}
    </div>

    <div class="card-stack card-stack--mobile-wide card-stack--center">
      {% include 'card.twig' with {
        date: '12 сентября 2017',
        type: 'материал',
        mods: 'card--large card--outline',
        tag: ['prevention', 'профилактика'],
        title: 'ВИЧ в России в числах',
        description: 'Согласно новым данным, всего в России зарегистрировано 1,16 млн диагнозов "ВИЧ-инфекция". За полгода поставили 52 тысячи новых диагнозов, от СПИДа ежедневно умирают 80 россиян, лечение получают только треть из выявленных пациентов, а эпидемия увеличивается в основном за счёт незащищённых гетеросексуальных контактов.'
      } %}
    </div>

    <span class="line"></span>
    <p>
      И наконец, главной новостью сентября стала смерть ВИЧ-позитивного
      ребёнка из-за отказа родителей давать ему терапию, произошедшая в
      семье петербуржского священника Георгия Сычева, которая в очередной
      раз вызвала волну обсуждений ответсвенности для родителей,
      отказывающихся предоставлять лечение своим ВИЧ-позитивным детям.
    </p>

    <div class="card-stack card-stack--mobile-wide card-stack--center">
      {% include 'card.twig' with {
        type: 'новость',
        tag: ['fund', 'дела&nbsp;фонда'],
        title: 'В фонде «СПИД.ЦЕНТР» прошла неделя тестирования на ВИЧ',
        date: '28 августа 2017',
        mods: 'card--large card--outline'
      } %}
    </div>

    <p>
      Параграфы могут идти друг за другом без верхней линии
    </p>
  </div>

  <div class="section">
    <div class="slider slider--media">
      <div class="slide">
        <img src="img/slides/photo1.jpg" alt="">
      </div>
      <div class="slide">
        <iframe src="https://player.vimeo.com/video/285854272" width="720" height="404" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="slide">
        <iframe width="720" height="404" src="https://www.youtube.com/embed/Gr9qaCOEjYg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="slide">
        <img src="img/slides/photo1.jpg" alt="">
      </div>
      <div class="slide">
        <img src="img/slides/photo1.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="content">
    <span class="line"></span>
      <p>
        Также в сентябре была опубликована новая справка Федерального
        научно-методическим центра по профилактике и борьбе со СПИДом,
        согласно которой к этому моменту в России было зарегистрировано
        уже 1,16 млн диагнозов «ВИЧ- инфекция», а от СПИДа ежедневно
        умирали 80 россиян.
      </p>
    <span class="line"></span>
  </div>

  <div class="section">
    <div class="slider">
      {% include 'card.twig' with {
        num: '1/8',
        type: 'новость',
        title: 'В Петербурге ВИЧ-позитивный ребёнок погиб из-за отказа родителей давать ему терапию',
        date: '28 августа 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        num: '2/8',
        type: 'новость',
        title: 'Общественная палата проследит за ходом расследования смерти девочки с ВИЧ в Петербурге',
        date: '1 сентября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        num: '3/8',
        type: 'новость',
        title: 'Омбудсмен: девочку, скончавшуюся от ВИЧ, начали слишком поздно лечить',
        date: '1 сентября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        num: '4/8',
        type: 'новость',
        title: 'СМИ: ВИЧ-позитивная девочка, умершая в Петербурге, оказалась приемной дочерью настоятеля храма РПЦ МП в СИЗО "Кресты"',
        date: '3 сентября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        num: '5/8',
        type: 'новость',
        title: 'Эксперт опроверг заявление РПЦ о том, что медицина не могла помочь умершей от ВИЧ девочке из Петербурга',
        date: '5 сентября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        num: '6/8',
        type: 'новость',
        title: 'Возбуждено уголовное дело после смерти ВИЧ-положительной девочки в семье ВИЧ-диссидентов из Петербурга',
        date: '26 сентября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        num: '7/8',
        type: 'новость',
        title: 'Епархия решила не принимать меры против священника после смерти его дочери от ВИЧ без лечения',
        date: '27 сентября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        num: '8/8',
        type: 'новость',
        title: 'Епархия решила не принимать меры против священника после смерти его дочери от ВИЧ без лечения',
        date: '27 сентября 2017',
        mods: 'card--small'
      } %}
    </div>
  </div>

  <footer class="footer">
    <p>
      НАШ САЙТ В ЕЖЕДНЕВНОМ РЕЖИМЕ ПОПОЛНЯЕТСЯ ВАЖНЫМИ НОВОСТЯМИ,
      ЗА МЕСЯЦ НА САЙТЕ ВЫХОДИТ 65 СТАТЕЙ И 76 НОВОСТЕЙ
    </p>
  </footer>

</article>
