.btn {
  display: inline-block;
  background: $red;
  font-size: 12px;
  line-height: 32px;
  border-radius: 40px;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 0 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  transition: all .4s ease;

  &:hover {
    cursor: pointer;
    background: rgba($red, 0.7);
    color: #fff;
  }
}
