.content .card,
.card {
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.10);
  width: 100%;
  max-width: 420px;
  margin: 0 30px;
  counter-increment: card;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all .4s ease;
  &__img{
    height: 220px;
    background-size: cover;
    background-position: center center;
  }
  .card__content{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding: 19px 38px 40px 40px;
  }
  & + .section,
  & + .footer {
    margin-top: 40px;

    @include mobile {
      margin-top: 30px;
    }
  }

  @include mobile {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 38px;
    box-sizing: content-box;
  }

  &__tag {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
    z-index: 200;
    width: auto;
    align-self: flex-start;

    &:hover {
      opacity: 0.85;
    }

    &::before {
      content: '';
      position: relative;
      display: block;
      width: 20px;
      height: 22px;
      margin-right: 19px;
      background-size: contain;
      background-size: auto 100%;
      
      @include mobile {
        width: 35px;
        height: 30px;
        background-position-x: left;
        background-size: auto 100%;
        margin-right: 20px;
      }
    }
    
    &--treatment::before {
      width: 19px;
      height: 19px;
      background: transparent url('../img/icons/category-treatment.svg') no-repeat center;
      background-size: auto 100%;
    }
    
    &--epidemy::before {
      width: 45px;
      height: 33px;
      background: transparent url('../img/icons/category-epidemy.svg') no-repeat center;
    }
    
    &--view::before {
      width: 20px;
      height: 19px;
      background: transparent url('../img/icons/category-view.svg') no-repeat center;
      background-size: auto 100%;
    }
    
    &--society::before {
      background: transparent url('../img/icons/category-society.svg') no-repeat center;
    }
    
    &--fund::before {
      width: 31px;
      height: 29px;
      background: transparent url('../img/icons/category-fund.svg') no-repeat center;
      background-size: auto 100%;
    }
    
    &--news::before {
      width: 20px;
      height: 20px;
      background: transparent url('../img/icons/category-news.svg') no-repeat center;
      background-size: auto 100%;
    }
    
    &--prevention::before {
      width: 20px;
      height: 22px;
      background: transparent url('../img/icons/category-prevention.svg') no-repeat center;
      background-size: auto 100%;
    }

    span {
      display: block;
      background: $pale;
      color: $red;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      padding: 0 16px;
      border-radius: 20px;
      transition: all .4s ease;

      @include mobile {
        font-size: 20px;
        line-height: 32px;
      }
    }

    &:hover {
      span {
        color: #fff;
        background: $red;
      }
    }
  }
  
  h2 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 900;
    color: $black;
    margin-bottom: 10px;

    
    @include mobile {
      font-size: 4.23vw;
      line-height: 1.36;
    }
  }

  p {
    font-size: 12px;
    line-height: 1.5;
    color: #757677;
    margin-bottom: auto;
    margin-top: 0;

    @include mobile {
      font-size: 4.23vw;
      line-height: 1.46;
    }

    h2 + & {
      margin-top: 0;
    }
  }

  &__info {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #757677;
    
    @include mobile {
      font-size: 3.84vw;

      a {
        font-size: 4.62vw;
      }
    }

    a {
      display: block;
      color: $red;
      margin-top: -5px;
      margin-left: -1px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
      }

      &::after {
        content: '';
        position: relative;
        top: 1px;
        transform: translateX(0px);
        display: inline-block;
        width: 15px;
        height: 10px;
        margin-left: 8px;
        background:  transparent url('../img/icons/arrow-red.svg') no-repeat center;
        background-size: contain;
        transition: transform .4s ease;

        @include mobile {
          display: none;
        }
      }
      
      &:hover::after {
        transform: translateX(8px);
      }

      span {
        @include mobile {
          display: none;
        }
      }
    }

    time {
      color: #b4b4b4;
      text-transform: uppercase;
      letter-spacing: 0.04em;
    }
  }




  &--outline {
    box-shadow: 10px 10px 40px rgba(0,0,0,0.07);
    border: 1px solid $pale;
  }

  &--small {
    .card__content{
      padding-top: 25px;
      padding-bottom: 30px;
    }
    

    h2 {
      font-size: 14px;
      line-height: 19px;
      font-weight: 700;
      margin-bottom: auto;

      @include mobile {
        font-size: 4.23vw;
        line-height: 1.36;
      }
    }

    .card__info {
      margin-top: 28px;

      span {font-size: 10px;}
      time {font-size: 10px;}
      a {font-size: 11px;}

      @include mobile {
        margin-top: auto;

        span, time {
          font-size: 4.13vw;
          line-height: 1;
          letter-spacing: 0;
        }
        
        a {
          font-size: 4.63vw;
        }
      }
    }
  }

  &--large {
    .card__content{
      padding: 27px 40px 40px;
    }
    
    @include mobile {
      max-width: 100%;
      padding: 40px 7.69vw 56px;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 13px;

      @include mobile {
        font-size: 5.76vw;
        line-height: normal;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }

    .card__info {
      font-size: 16px;
      margin-top: 25px;

      @include mobile {
        font-size: 3.84vw;
        margin-top: 28px;

        a {
          font-size: 4.62vw;
        }
      }

      a::after {
        margin-left: 12px;
      }
    }

    .card__tag {
      margin-bottom: 25px;
      margin-left: -2px;

      @include mobile {
        margin-bottom: 27px;
      }

      &::before {
        margin-right: 20px;

        @include mobile {
          width: 50px;
          height: 30px;
          background-size: auto 30px;
          background-position: center;
          margin-right: 10px;
        }
      }
      
      span {
        font-size: 14px;
        padding: 0 30px 0 24px;
        line-height: 28px;

        @include mobile {
          font-size: 20px;
          line-height: 32px;
        }
      }
    }
  }



  
  // Хак на card-stack с двумя карточками
  &:first-child:nth-last-child(2),
  &:first-child:nth-last-child(2) ~ & {
    margin: 0 40px;

    &:first-child {margin-left: 0;}
    &:last-child {margin-right: 0;}
  }

  &:first-child {margin-left: 0;}
  &:last-child {margin-right: 0;}
}