.m-icon {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 25px;
  
  &.ph {
    height: 20px;
    background: transparent url('../img/icons/camera.svg') no-repeat center;
    background-size: contain;
    bottom: -4px;
  }
  
  &.vid {
    height: 15px;
    background: transparent url('../img/icons/video-camera.svg') no-repeat center;
    background-size: contain;
    bottom: -2px;
  }
}