.content {
  .line {
    display: block;
    position: relative;
    width: calc(100% - 40px);
    max-width: 420px;
    height: 3px;
    background: $red;
    margin: 40px auto;
    border: none;

    & + p {
      margin-top: -10px;
    }

    @include mobile {
      width: 100%;
      max-width: 100%;
      margin: 32px 0;
    }
  }
}
