.media {

  &__content {
    width: 100%;
    line-height: 1;

    @include mobile {
      width: 100vw;
      margin-left: -11.52vw;
      margin-right: -11.52vw;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__caption {
    text-align: right;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.1em;
    color: $gray;
    text-transform: uppercase;
    margin-top: 10px;

    @include mobile {
      width: 100vw;
      margin-left: -11.52vw;
      padding: 0 20px;
      font-size: 14px;
      letter-spacing: 1.5px;
      margin-top: 8px;
      text-align: center;
    }
  }
}
