.content {
  p {
    font-size: 18px;
    line-height: 1.65em;
    color: $black;
    font-weight: 300;
    margin: 40px 0;

    & + p {
      margin-top: -20px;
    }

    .card-stack + &,
    & + .card-stack {
      margin-top: -10px;
    }
    
    @include mobile {
      font-size: 4.61vw;
      margin: 6.15vw 0;
      line-height: 7.5vw;
    }

    &.center {
      text-align: center;
    }
  }
}

.card-stack + p {
  margin-top: 30px;
}
