.content {
  max-width: 760px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  & + &,
  & + .card,
  & + .section,
  & + .footer {
    margin-top: 40px;

    @include mobile {
      margin-top: 30px;
    }
  }

  @include mobile {
    padding: 0 11.52vw;
  }
}
.clear_page{
  min-height: 100vh;
  padding-top: 200px;
}