.content .factoid,
.factoid {
  background: #fff;
  color: $red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px 20px 40px;
  text-align: center;

  & + p {
    margin-top: 0;
  }

  @include mobile {
    padding: 40px 20px 30px;

  }

  .headline + & {
    margin-top: -40px;
  }
  
  
  &--red {
    background: $red;
    color: #fff;
    padding: 106px 20px 100px;
    border-top: 1px solid #fff;
      
    @include mobile {
      padding: 40px 20px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 14px;
    line-height: 1.2;

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__number {
    h2 {
      font-size: 100px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 15px;

      @include mobile {
        font-size: 48px;
        margin-bottom: 10px;
      }
    }

    span {
      font-size: 48px;
      font-weight: 300;

      @include mobile {
        font-size: 32px;
      }
    }
  }

  &__numbers {
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }

    .and {
      font-size: 48px;
      font-weight: 300;
      width: 75px;
      display: block;
      text-align: center;

      @include mobile {
        line-height: 40px;
        font-size: 24px;
      }
    }
  }
}

.line + .factoid {
  padding-top: 0 !important;
}

.factoid + .line {
  margin-top: 0 !important;
}

.factoid + p + .line {
  margin: 60px auto !important;
  
  @include mobile {
    margin: 30px auto !important;
  }
}