@keyframes wiggle {
  0% {
    transform: translateY(-30px);
  }
  
  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes wiggle-mobile {
  0% {
    transform: translateY(-15px);
  }
  
  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(-15px);
  }
}

.illustration {
  display: block;
  padding: 20px 153px 80;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    height: 100vh;
  }

  img {
    display: block;
    max-width: 100%;
    // width: 100%;
    margin: auto;
  }
}

.scroll-arrow {
  z-index: 100;
  position: relative;
  top: -90px;
  margin: auto;
  width: 60px;
  height: 90px;
  background: transparent url('../img/icons/scroll-arrow.svg') no-repeat center;
  background-size: contain;
  animation: wiggle 2s ease-in-out infinite;
  
  @include mobile {
    width: 30px;
    height: 45px;
    top: -45px;
    animation: wiggle-mobile 3s ease-in-out infinite;
  }
}