.money_content{
	max-width: 1170px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.half{
	border-bottom: 2px solid $red;
	width: 50%;
	box-sizing: border-box;
	padding: 15px;
	border-right: 1px solid $red;
	&:nth-of-type(2n){
		border-right: none;
		border-left: 1px solid $red;
	}
}
.socials__item img{
	height: 30px;
	width: 30px;
	margin-right: 10px;
}
.socials__item{
	width: 50%;
	align-items: center;
	display: block;
	text-align: center;
}