.slider {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  @media (max-width: 1281px) and (min-width: 1024px) {
    max-width: 1100px;
  }

  &.flickity-enabled {
    display: block;

    .card:last-child,
    .card {
      width: 360px;
      margin: 0 0 0;
      transition: opacity .2s ease;

      @include mobile {
        width: 100%;
        margin: 0;
      }
    }

    .slide {
      padding: 40px 20px 40px;
      display: flex;
      align-items: stretch;
      justify-content: center;
      width: 50%;

      @include mobile {
        padding: 40px 20px 80px;
        width: 100%;
  
        .card {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }

  @include mobile {
    .flickity-page-dots {
      bottom: 30px;
      
      .dot {
        background: #fff;
        opacity: 1;
        margin: 0 5px;
        
        &.is-selected {
          background: #333;
        }
      }
    }
  }

  .flickity-viewport {
    transition: height .3s ease;
    box-sizing: content-box;
    padding: 0;
    // transform: translateX(10px);

    @include mobile {
      transform: translate(0px);
      padding: 0;
    }
  }
  
  .flickity-slider {
    transition: height .3s ease;
    display: flex;
    padding: 0 20px;

    @include mobile {
      padding: 0;
    }
  }

  button {
    position: absolute;
    display: block;
    border: none;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-size: contain;
    cursor: pointer;
    background: transparent url('../img/icons/slider-arrow-right.svg') no-repeat center;
    transition: all .2s ease;
    
    
    &:focus,
    &.active,
    &:hover {
      outline: none;
      background: transparent url('../img/icons/slider-arrow-right-red.svg') no-repeat center;
    }
    
    @include mobile {
      width: 32px;
      height: 20px;
      background: transparent url('../img/icons/arrow.svg') no-repeat center;
      background-size: 100% auto;
      z-index: 200;
      
      &:focus,
      &.active,
      &:hover {
        background: transparent url('../img/icons/arrow-red.svg') no-repeat center;
        background-size: 100% auto;
      }
    }

    &.next {
      right: -50px;

      
      @media (max-width: 1280px) and (min-width: 1024px) {
        right: -30px;
      }

      @include mobile {
        top: auto;
        right: 20px;
        bottom: 27px;
      }

      .at-end & {
        opacity: 0;
        pointer-events: none;
      }
    }

    &.prev {
      left: -50px;
      transform: rotate(180deg);

      @media (max-width: 1280px) and (min-width: 1024px) {
        left: -30px;
      }

      @include mobile {
        top: auto;
        right: auto;
        left: 20px;
        bottom: 27px;
      }

      .at-start & {
        opacity: 0;
        pointer-events: none;
      }
    }
  }


  &--media {
    width: 800px;

    @include mobile {
      width: 100%;
    }

    .flickity-page-dots {
      bottom: -30px;
      display: flex;
      justify-content: center;

      .dot {
        background: #fff;
        opacity: 1;
        
        &.is-selected {
          background: #333;
        }
      }
    }

    .flickity-viewport {
      transform: none;
    }

    &.flickity-enabled {
      .slide {
        width: 100%;
        line-height: 0;
        display: flex;
        align-items: center !important;
        justify-content: center;
        padding: 0 !important;
  
        @include mobile {
          padding: 30px 20px 80px !important;
          display: block;
        }
        
        iframe {
          max-width: 720px;
          margin: 0 auto;
          
          @include mobile {
            width: 100%;
            height: 50vw;
          }
        }
  
        img {
          margin: 0 auto;
          width: auto;
          max-width: 720px;
          max-height: 480px;
  
          @include mobile {
            height: 50vw;
          }
        }
      }
    }
  }

  button {
    &.next {
      right: -50px;
      
      @media (max-width: 1280px) and (min-width: 1024px) {
        right: -50px;
      }
    }
  
    &.prev {
      left: -50px;

      @media (max-width: 1280px) and (min-width: 1024px) {
        left: -50px;
      }
    }
  }


  &--x3 {
    &.flickity-enabled {
      .slide {
        width: 33%;
      }
    }
  }



  &.at-start {
    button.prev {
      display: none;
    }
  }

  &.at-end {
    button.next {
      display: none;
    }
  }
}
