.socials {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    width: 33%;
    margin-bottom: 60px;

    @include mobile {
      width: 100%;
      margin-bottom: 20px;
    }
    
    img {
      height: 60px;
      margin-right: 20px;
  
      @include mobile {
        height: auto;
        width: 60px;
      }
    }

    span {
      font-size: 24px;
      font-weight: bold;
      color: $red;
      text-decoration: underline;

      @include mobile {
        font-size: 24px;
      }
    }
  }
}