/* Дефолтные стили */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

/* Формы */
input, textarea, button {
  font-family: $gerbera;
}

/* Аккуратные таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Основные стили */
html {
  background: #ffffff;
}

body {
  font-family: $gerbera;
  font-size: 14px;
  line-height: 20px;
  background: $red;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Ссылки без дефолтного подчёркивания */
a {
  text-decoration: none;

  &:hover {
    color: $red;   
  }
}


.hide-mobile {
  @include mobile {
    display: none;
  }
}
.clear_page{
  padding-bottom: 200px;
}
.author__image{
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
}
.author--position{
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  color: #ED222B;
}
.author--name{
  text-align: center;
  line-height: 42px;
  font-size: 30px;
  color: #ED222B;
}