@font-face {
  font-family: 'Gerbera';
  font-weight: 300;
  src: url('../fonts/Gerbera-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Gerbera';
  font-weight: 400;
  src: url('../fonts/Gerbera-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gerbera';
  font-weight: 500;
  src: url('../fonts/Gerbera-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Gerbera';
  font-weight: 700;
  src: url('../fonts/Gerbera-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gerbera';
  font-weight: 900;
  src: url('../fonts/Gerbera-Black.woff2') format('woff2');
}
