@mixin mobile {
  @media only screen and (max-width: $mobile-tablet-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-laptop-breakpoint) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (max-width: $laptop-desktop-breakpoint) {
    @content;
  }
}
