/* Переменные */
$gerbera: "Gerbera", Arial, sans-serif;

$red:   #ED222B;
$pale:  #DCE6E6;
$black: #323333;
$gray:  #B4B4B4;

$mobile-tablet-breakpoint:  "768px";
$tablet-laptop-breakpoint:  "1024px";
$laptop-desktop-breakpoint: "1440px";
